$theme-colors: (
    "primary": #4464ad,
    "secondary": #edeef0,
    "success": #1a936f,
    "warning": #f09d51,
    "danger": #f06543,
);

$font-size-base: 0.8125rem;

@media (max-width: 575.98px) and (-webkit-min-device-pixel-ratio: 0) {
    .nav-text {
        display: none;
    }
}

@import "../../../node_modules/bootstrap/scss/bootstrap";
